<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="ModelPostCommentContainer" connectionString="metadata=res://*/ModelPostComment.csdl|res://*/ModelPostComment.ssdl|res://*/ModelPostComment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XPS-9560\SQLEXPRESS;initial catalog=PostComment;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Laborator6_ObjectWCF.PostComment" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding" contract="Laborator6_ObjectWCF.IPostComment" name="BasicHttpBinding_IPostComment">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <!-- Enables the IMetadataExchange endpoint in services that -->
          <!-- use "metadataSupport" in their behaviorConfiguration -->
          <!-- attribute. -->
          <!-- In addition, the httpGetEnabled and httpGetUrl -->
          <!-- attributes publish-->
          <!-- Service metadata for retrieval by HTTP/GET at the address -->
          <!-- "http://192.168.0.102:8000/SampleService?wsdl" -->
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <!-- <serviceMetadata/>-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>