@page
@model MyPhotosWebApp.Pages.Properties.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Add a Property</h1>
<h4>Create a new property and add it to this file</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyDTO.Title" class="control-label"></label>
                <input asp-for="PropertyDTO.Title" class="form-control" />
                <span asp-validation-for="PropertyDTO.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyDTO.Description" class="control-label"></label>
                <input asp-for="PropertyDTO.Description" class="form-control" />
                <span asp-validation-for="PropertyDTO.Description" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyDTO.Type" class="control-label"></label>
                <input asp-for="PropertyDTO.Type" class="form-control" />
                <span asp-validation-for="PropertyDTO.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index"  asp-route-id="@Model.FileId">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
